@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.search__item {
	padding: 20px calc(50% - 496px);
	font-size: 28px;
}
.logout {
	cursor: pointer;
	display: block;
	padding: 6px 12px;
	border-radius: 8px;
	border: 1px solid;
}
.page-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.page-container>div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-radius: 8px;
	cursor: pointer;
}
.page-container>.active {
	color: forestgreen;
}